<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.0, Copyright © 2000-2016 syscl/Yating Zhou. All Rights Reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>org.syscl.injector.UVC2iSight</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Syscl:UVC2FaceTimeHD</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>UVC Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Serial Number</key>
				<string>CN0Y2TKG7248751OA33MA00</string>
				<key>Built-In</key>
				<true/>
				<key>sessionID</key>
				<integer>2310169389</integer>
				<key>IOPowerManagement</key>
				<dict>
					<key>CapabilityFlags</key>
					<integer>65536</integer>
					<key>CurrentPowerState</key>
					<integer>3</integer>
					<key>DevicePowerState</key>
					<integer>0</integer>
					<key>DriverPowerState</key>
					<integer>3</integer>
					<key>MaxPowerState</key>
					<integer>4</integer>
				</dict>
				<key>USB Address</key>
				<integer>3</integer>
			</dict>
			<key>idProduct</key>
			<integer>8462</integer>
			<key>idVendor</key>
			<integer>22918</integer>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
